---
layout: wrapper1
title: "About"
---

<header class="major">
    <h2>About</h2>
</header>

<section>
    <h4>Code</h4>
    <p>I like to write <a href="https://gitlab.com/labseven">code</a>.</p>
    <div class="image inline">
        <a href="https://gitlab.com/labseven">
            <img src="/assets/img/a/desk.jpg" />
        </a>
    </div>

    <h3>Things</h3>
    <p>I like to create things.</p>
    <div class="image inline">
        <img src="/assets/img/a/hello_poe.jpg" />
    </div>

    <h4>Art</h4>
    <p>I like to make art.</p>
    <div class="image inline">
        <a href="/art"></a><img src="/assets/img/a/collage.jpg" />
    </div>

    <h4>Fun</h4>
    <p>I like to have fun (and pull espresso shots).</p>
    <div class="image inline">
        <img src="/assets/img/a/coffee_cart.jpg" />
    </div>
</section>