---
layout: wrapper1
title: "Art"
---

<header class="major">
    <h2>Art</h2>
</header>
<section>
    <p>At Olin I've been learning to see/think/create as an artist.<br>I have been growing my knowledge and skills in
        the arts and design through experiments inside and outside of class. These are a few of my favorite projects.
    </p>
    <header>
        <h3>Mediums</h3>
        <p>I've been experimenting with different tools of expression, to explore the landscape of multimedia art. I
            have been focusing on learning new methods and expanding my critical eye.</p>
        <div class="image inline">
            <a href="/art"></a><img src="/assets/img/a/collage.jpg" />
        </div>
    </header>
    <h4>Generative Art</h4>
    <p>
        I fell in love with Sol Lewitt, and was inspired by him to make rule-based art. This semester (Spring 2020) I am
        making an Independent Study course on generative art and pen plotters. Below are a few tests of writing HPGL for
        an <a href="https://www.youtube.com/watch?v=0pj53zIsYzA">HP DraftPro Plotter</a> from the 80s. Some digital
        works are <a href="https://art.verynice.art.verynice.party/">here</a>.
    </p>
    <div class="image inline">
        <img src="/assets/img/a/plotter.jpg" />
    </div>
    <h4>Receipt Printer</h4>
    <p>
        Last semester I found a receipt printer and started experimenting with it. I played with the connection that
        people have with receipts and how a message is conveyed differently through this medium. Later I tried looping
        the receipt back into the printer to see what patterns emerged. I later used the receipt printer in other
        community <a href='/projects'>projects</a>.
    </p>
    <div class="image inline">
        <img src="/assets/img/a/receipts_wall.jpg" />
    </div>
    <div class="image inline">
        <img src="/assets/img/a/bear.jpg" />
    </div>

    <h4>Printmaking</h4>
    I took a printmaking course at Wellesley college, where I learned to screenprint and lithography. During remote
    learning I went to a local print studio, where I further explored pronto-plate lithography and monotypes. I
    documented my printmaking adventure on <a href="https://printmaking.verynice.party/">this</a> blog.
    <div class="image inline">
        <img src="/assets/img/a/printmaking.jpg" />
    </div>
    <div class="image inline">
        <img src="/assets/img/a/prints.jpg" />
    </div>

    <h4>Creativity Practicum</h4>
    <p>
        In Fall 2019 I took Creativity Practicum with <a href="https://sarahendren.com/">Sara Hendren</a> and <a
            href="https://www.americansflags.net/">Tim Sauder</a>. It was "a beginner’s introduction to multimedia art
        forms. Students will learn how to identify some of the operations, choices, and audiences for artworks across
        disciplines ... building a basic, lightweight literacy in these expressive forms of culture." 1 week cycles of
        consuming and creating made space for me to explore a wide range of art.<br>
    <div class="image inline">
        <img src="/assets/img/a/christo.jpg" />
    </div>
    <div class="image inline">
        <img src="/assets/img/a/1in_landscape.jpg" />
    </div>
    </p>
    <h4>Photography</h4>
    <p>
        I first dove into photography over my Leave of Absence in Spring 2018, during which I lived in Czech and
        Portugal. I took a lot of photos of cities and nature, and slowly trained my eyes to see through a camera
        lens.<br>
        One theme that emerged were visual textures, macro and micro, built and natural. See my collection of textures
        <a href="https://photos.app.goo.gl/AF9tAW4rxhQzQtdT6">here</a>.
    <div class="image inline">
        <img src="/assets/img/a/sunrise.jpg" />
    </div>
    <div class="image inline">
        <img src="/assets/img/a/grass_texture.jpg" />
    </div>
    </p>
</section>