---
layout: wrapper1
title: "Adam Novotny"
---

<header class="major">
    <h2>Adam</h2>
</header>
<section>
    <p>
        Recently graduated from Olin College of Engineering with a B.S. in Computing. I like mountain biking, coffee,
        and building things. I'm particularly focused on full-stack webdev in Phoenix + TailwindCSS, and I reach for
        Python for anything else. Below are some more things about me, get in touch with <a
            href="mailto:adam@novotny.dev">adam@novotny.dev</a>.
    </p>
</section>
<section>
    <h4>Code</h4>
    <p>I like to write <a href="https://gitlab.com/labseven">code</a>.</p>
    <div class="image inline">
        <a href="https://gitlab.com/labseven">
            <img src="/assets/img/a/desk.jpg" />
        </a>
    </div>

    <h3>Things</h3>
    <p>I like to create <a href="/projects">things</a>.</p>
    <div class="image inline">
        <img src="/assets/img/a/hello_poe.jpg" />
    </div>

    <h4>Art</h4>
    <p>I like to make <a href="/art">art</a>.</p>
    <div class="image inline">
        <a href="/art"></a><img src="/assets/img/a/lines_down.png" />
    </div>

    <h4>Fun</h4>
    <p>I like to have fun (and pull espresso shots).</p>
    <div class="image inline">
        <img src="/assets/img/a/coffee_cart.jpg" />
    </div>
</section>