---
layout: wrapper1
title: Lists
priority: -1
---

<p>
    These are lists of things that I find interesting. It probably won't be kept up to date, but I'll add things
    periodically.
</p>
<hr />
{% for list in site.lists %}
{% unless list.title == "Lists" %}
<div>
    <h3>
        <a href="{{ list.url }}" title="{{ list.date }}" class="title">
            {{ list.title }}
        </a>
    </h3>
    <p>(last updated {{list.date | date: "%b %d %Y"}})</p>
</div>
{% endunless %}
{% endfor %}