---
layout: wrapper1
---
<header class="major">
        <h2>{{page.title}}</h2>
        <p>(last updated {{page.date | date: "%b %d %Y"}})</p>
</header>
<section class="my-lists">
    {{content}}
</section>
